{%- extends "basic/layout.html" %}

{%- block htmltitle %}
{{ super() }}
{%- endblock %}

{%- block extrahead %}
{{ super() }}
{% if theme_touch_icon %}
<link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700%7CIBM+Plex+Sans:500,700&amp;display=swap" rel="stylesheet">
{% endblock %}

{%- block header %}
<!-- Header:Website:Replace -->
{% endblock %}

{% block sidebartoc %}
{% set toctree = toctree(maxdepth=4, collapse=true, includehidden=true, titles_only=true) %}
<h3>Table of Contents</h3>
{% if toctree %}
{{ toctree }}
{% else %}
<!-- Local TOC -->
<div class="local-toc">{{ toc }}</div>
{% endif %}
{% endblock %}

{%- block footer %}
<!-- Footer:Website:Replace -->

<script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//sulu.io/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.php'; s.parentNode.insertBefore(g,s);
    })();
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-9684RGJSX7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9684RGJSX7');
</script>
{%- endblock %}
